
<ion-view ng-init="vm.init()" view-title="{{vm.dish.recipe.dish_type.type_name}}">
  <ion-content class="padding">
    <div class="item item-text-wrap"><span ng-bind="vm.dish.recipe.name"></span></div>
    <div class="item item-image"><img ng-src="{{vm.dish.recipe.logo_cdn_url}}"/></div>
    <p ng-repeat="ingredient in vm.dish.ingredients"><span ng-bind="ingredient.ingredient.name"></span><span ng-bind="ingredient.volume"></span></p>
    <p ng-repeat="item in vm.dish.recipe.recipe"><span ng-bind="$index+1"></span><span>. </span><span ng-bind="item.text"></span><img ng-src="{{item.img}}"/></p>
  </ion-content>
</ion-view>