
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab icon-off="ion-ios-shuffle" icon-on="ion-ios-shuffle-strong" href="#/tab/random">
    <ion-nav-view name="tab-random"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-android-search" icon-on="ion-android-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="ion-arrow-shrink" icon-on="ion-arrow-shrink" href="#/tab/construct">
    <ion-nav-view name="tab-construct"></ion-nav-view>
  </ion-tab>
</ion-tabs>